<% if @mensaje.nil? %>
  <%  if @calificaciones.calificaciones.empty? %>
    <%= render :partial => "shared/messages", :locals => { :msg => 'No existen calificaciones para la inscripción seleccionada.', :class_name => 'info' } %>
  <% else %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 espacio_2">

        <div class="panel panel-yellow panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <h4 class="texto-centro">Calificaciones: <span> <%= get_semester_name(@calificaciones.semestre_nombre).capitalize  %> </span> Semestre</h4>
              </div>

              <div class="col-lg-4 col-sm-4">
                <h4 class="texto-centro">Grupo: <span>  <%= @calificaciones.grupo_nombre  %> </span></h4>
              </div>

              <div class="col-lg-4 col-sm-4">
                <h4 class="texto-centro">Periodo: <span>  <%= @calificaciones.periodo_nombre  %> </span></h4>
              </div>

            </div>                    
          </div>

          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="warning">Asignatura</th>
                    <th class="warning">P1</th>
                    <th class="warning">A1</th>
                    <th class="warning">P2</th>
                    <th class="warning">A2</th>
                    <th class="warning">P3</th>
                    <th class="warning">A3</th>
                    <th class="warning">O</th>
                    <th class="warning">PA</th>
                    <th class="warning">PF</th>
                    <th class="warning">EX1</th>
                    <th class="warning">EX2</th>
                    <th class="warning">ESP</th>
                  </tr> 
                </thead>
                <tbody>
                  <% if @calificaciones.calificaciones.empty? %>
                    <tr>
                      <td colspan="14" style="text-align: center">No hay Calificaciones</td>
                    </tr>
                  <% else %>
                    <% @calificaciones.calificaciones.each do |c| %>
                      <tr>
                        <td class="warning"><%= c.nombre %></td>
                        <td <%= get_color_for_calificacion(c.get_parcial1_sd_or_np) %>><%= c.get_parcial1_sd_or_np %></td>
                        <td <%= get_color_for_asistencia(c.asistencia_p1) %>><%= number_to_percentage(c.asistencia_p1, :precision => 0) %></td>
                        <td <%= get_color_for_calificacion(c.get_parcial2_sd_or_np)%>><%= c.get_parcial2_sd_or_np %></td>
                        <td <%= get_color_for_asistencia(c.asistencia_p2) %>><%= number_to_percentage(c.asistencia_p2, :precision => 0) %></td>
                        <td <%= get_color_for_calificacion(c.get_parcial3_sd_or_np)%>><%= c.get_parcial3_sd_or_np %></td>
                        <td <%= get_color_for_asistencia(c.asistencia_p3) %>><%= number_to_percentage(c.asistencia_p3, :precision => 0) %></td>
                        <td <%= get_color_for_calificacion(c.final)%>><%= c.final %></td>
                        <td <%= get_color_for_asistencia(c.asistencia_final) %>><%= number_to_percentage(c.asistencia_final, :precision => 0) %></td>
                        <td <%= get_color_for_calificacion(c.promedio)%>><%= c.promedio %></td>
                        <td <%= get_color_for_calificacion(c.get_extra1_sd_or_np)%>><%= c.get_extra1_sd_or_np %></td>
                        <td <%= get_color_for_calificacion(c.get_extra2_sd_or_np)%>><%= c.get_extra2_sd_or_np %></td>
                        <td <%= get_color_for_calificacion(c.get_especial_sd_or_np)%>><%= c.get_especial_sd_or_np %></td>
                      </tr>
                    <% end %>
                  <% end %>                          

                </tbody>
              </table>
            </div></div>
        </div>
      </div>
    </div>

  <% end %>
  <!--panel profesores-->
  <%  if @calificaciones.get_profesores.empty? %>
    <%#= render :partial => "shared/messages", :locals => { :msg => 'No existen profesores para la inscripción seleccionada.', :class_name => 'info' } %>
  <% else %>
    <div class="col-md-8 col-md-offset-2 espacio_2">

      <div class="panel panel-primary panel-table">
        <div class="panel-heading">
          <h4 class="texto-centro">Profesores Asignados por Evaluación</h4>
        </div>

        <div class="panel-body">
          <div class="table-responsive">
            <% if !@calificaciones.get_profesores.blank? %>
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                    <th class="active">Asignatura</th>
                    <th class="active">Profesor Asignado</th>
                    <th class="active">Evaluaciones</th>

                  </tr> 
                </thead>
                <tbody>
                  <% @calificaciones.get_profesores.each do |profesor| %>
                    <tr>
                      <td><%= profesor[:asignatura_nombre] %></td>
                      <td><%= profesor[:profesor_nombre] %></td>
                      <td>
                        <% profesor[:examenes].each do |examen| %>
                          <%= examen.nombre.to_s + ' ' %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %> 
                </tbody>
              </table>
            <% else %>
              <div id="message">
                No se han asignado Profesores
              </div>
            <% end %>          
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% else %>
  <%= render :partial => "shared/messages", :locals => { :msg =>  @mensaje, :class_name => 'info' } %>
<% end %>