

<div class="panel-title text-center">
  <%= image_tag("seres-03.png", :class => 'center-block') %>
  <hr class="hr_style">
  <h5 class="text-warning">Servicios Escolares del SUNEO</h5>
</div>

<div class="panel panel-success espacio" >
  <div class="panel-heading">
    <div class="panel-title text-center">Portal de Alumnos</div>
  </div>     

  <div class="panel-body" >

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">     
        <%= form_for @user_session, :url => {:action => "create"} do |f| %>
          <% if @user_session.errors.any? %>
            <%= render :partial => "shared/array_messages", :locals => { :messages => [['Error', *@user_session.errors.full_messages]], :class_name => 'danger' } %>
          <% end %>        
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <%= f.text_field :login, :placeholder => "Nombre de Usuario", :class => 'form-control' %>
            </div>
          </div>


          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <%= f.password_field :password, :placeholder =>  "Contraseña", :class => 'form-control' %>
            </div>
          </div>

          <div class="text-cennter">
            <%= f.submit "Iniciar sesión", :class =>"btn btn-info btn-block" %>
          </div>
        <% end %>
      </div>                     
    </div> 
  </div>                     
</div>